@model G1_Website_Tour.Models.tour

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Tour", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>tour</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.name_tour, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name_tour, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name_tour, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.start_tour, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.start_tour, new { htmlAttributes = new { @class = "form-control",
               type = "date",
               @Value = @Model.start_tour.Value.ToString("yyyy-MM-dd")} })
                @Html.ValidationMessageFor(model => model.start_tour, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.end_tour, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.end_tour, new { htmlAttributes = new { @class = "form-control",
               type = "date",
               @Value = @Model.end_tour.Value.ToString("yyyy-MM-dd")
           } })
                @Html.ValidationMessageFor(model => model.end_tour, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description_tour, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.description_tour, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextAreaFor(model => model.description_tour, new { @id = "FullDescription", @class = "form-control", @rows = "10" })
                @Html.ValidationMessageFor(model => model.description_tour, "", new { @class = "text-danger" })
                <script>
                    CKEDITOR.replace("FullDescription");
                </script>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.image_tour, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.image_tour, new { htmlAttributes = new { @class = "form-control" } })
                <img src="~/Content/images/@Html.DisplayFor(model => model.image_tour)" width="945" height="500" />
                <input type="file" name="newImages" />
                @Html.ValidationMessageFor(model => model.image_tour, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vehicle_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vehicle_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.type_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.type_id, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("type_id", (IEnumerable<SelectListItem>)ViewBag.types, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.type_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfManufacture, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfManufacture, new { htmlAttributes = new { @class = "form-control",
               type = "date",
               @Value = @Model.DateOfManufacture.Value.ToString("yyyy-MM-dd")
           } })
                @Html.ValidationMessageFor(model => model.DateOfManufacture, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
