@model IEnumerable<G1_Website_Tour.Models.bill_detail>

@{
    ViewBag.Title = "DetailsOD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsOD</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bill_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tour_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bill_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tour_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Back to List", "HistoryOrder")
</p>