@model IEnumerable<G1_Website_Tour.Models.bill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/style.css" />
<h2>Order</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
            (0:Processing / 1:Delivery / 2:Paid / 3:Cancel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staffid)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.create_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staffid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @{
                    if (item.status >= 2)
                    {

                    }
                    else
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                    }
                }
                |
                @Html.ActionLink("Details", "Details", new { id = item.id })
            </td>
        </tr>
    }
</table>
